# Игнорируем виртуальное окружение
venv/
.env

# Файлы базы данных (если SQLite)
db.sqlite3

# Файлы конфигурации
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
logs/
*.log

# Файлы IDE
.idea/
.vscode/
